/ruleslawyer-rules-parser/*/*.json
/ruleslawyer-rules-parser/*/*.txt
/ruleslawyer-rules-parser/*/*.pdf
/ruleslawyer-rules-parser/*/*.csv
/ruleslawyer-scryfall-ingestion/*.json
/.idea/
*/target/
*/__pycache__/
*/*/__pycache__/
*.iml
/classes/
/ruleslawyer-discord/src/main/resources/keys.txt
